

.dummy{
  text-align: center;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;

  // overflow-y: auto;
}


.backgroundgif{
  display: flex;
  height: 300px;
  min-width: 500px;
  width: 100%;
  background-image: image-url("testg.gif");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  flex-direction: column;
  // padding-top: 80px;
  background-size: cover;
  min-width: 1000px;
}

.dummytitle{
  display: flex;
align-items: center;
 justify-content: center;
  margin: 20px;
  font-size: 30px;
  min-width: 600px;
  min-height: 50px;
}

.dummyp{
  padding-top: 100px;
  font-size: 35px;
  align-self: center;
}

.dummypdos{
  padding-top: 15px;
  align-self: center;
  font-size: 20px
}


.dummysignup{
  font-size: 20px;
  display: flex;
  text-decoration: none;
  color: white;
  background-color: #ed1c40;
  width: 10%;
  align-self: center;
  border-color: #ed1c40;
  border-radius: 2px;
  min-width: 100px;
  min-height: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dummylist{
  display: flex;
  justify-content: center;
  // height: 100%;
  // max-height: 1700px;
  flex-wrap: wrap;
  margin-bottom: 30px;

// align-content: space-between;
// align-items: center;
}

.dummyitem{
  margin: 10px;
  display: flex;
  color: white;
  flex-direction: column;
  min-width: 300px;
  min-height: 300px;
justify-content: flex-end;
align-items: flex-start;
font-size: 20px;
background-image: image-url("sunset.jpg");
background-repeat: no-repeat;
background-size: cover;
}
