// Place all the styles related to the Api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





















//
// .log-in-form-container {
//   // display: flex;
//   // flex-shrink: 0;
//   // align-items: center;
//   // align-content: center;
//   // justify-content: center;
//   // display: flex;
//   flex-direction: column;
//   height: 100%;
//   position: absolute;
//   // margin: 0;
// }
//
//
//
// .login-input{
//   display: flex;
//   // align-self: center;
//   width: 100%;
// }
//
// .login-form{
//   display: flex;
//   padding: 80px 80px;
//   margin: 80px 100px;
//   // align-content: center;
//   justify-content: center;
//   flex-direction: column;
//   align-items: stretch;
//   height: 100%;
//   border: 3px black;
// }
//
//
// // //
// // label{
// //   justify-content: space-around;
// //   flex-direction: column;
// // }
//
// // label > div {
// //   display: flex;
// //   justify-content: space-around;
// //   flex-direction: column;
// // }
// .log-in-form{
//
// }
//
// .log-in-form-box{
//   height: 100%;
//   display: flex;
//   // align-content: center;
//   // display: flex;
//   // // align-items: center;
//   flex-direction: column;
//   // border: 5px solid black;
// }
//
// // html{
// //   height: 100%;
// // }
// // body{
// //   height: 100%;
// // }
//
// // #root {
// //   height: 100%;
// // }
// login-input{
//   // display: flex;
//   // align-self: flex-start;
//   font-size: 100px;
//   width: 100px;
// }
// label.form {
//   display: flex;
//   align-self: center;
//   flex-direction: column;
//   font-size: 25px;
// }
//
// input.login-input{
//   display: flex;
// }
//
// html, body, #root, #root>div {
//   height: 100%;
//   position: relative;
// }









.errors{
  font-size: 20px;
}

.forms{
  font-size: 20px;
}

html, body, #root, #root>div {
  height: auto;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding:0;
  // overflow: auto;

}

//
html{
  height: 100%;
  // min-height: 1500px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  width: 100%;
  // min-width: 1200px;
  // height: 1500px;
}









// input .formo{
//   // height: 20px;
//   font-size: 10px;
//   justify-content: center;
//   padding: 10px;
// }


































.dummy{
  text-align: center;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}
