


.signup-form-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.updateyourprofile{
  font-size: 28px;
    line-height: 1.25;
        font-weight: 500;
        padding-bottom: 8px;
}

.login-inputques, .userques{
  font-size: 13px;
font-weight: 600;
display: block;
    // margin-bottom: 16px;
    width: 100%;
}
.formname{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form{
  margin-bottom: 5px;
}
.formos{
  text-decoration: none;
  display: flex;
  margin-left: 16px;
  margin-top: 35px;
  justify-content: center;
  box-sizing: border-box;
-webkit-appearance: none;
border-radius: 3px;
font-size: 16px;
font-weight: 600;
min-height: 36px;
outline: 0;
padding: 0 16px;
vertical-align: middle;
line-height: 1;
margin-bottom: 16px;
border: 1px solid rgba(0,0,0,.12);
stroke: transparent;
fill: #fff!important;
color: #fff!important;
background: #ed1c40;
border-color: #ed1c40;
width: 75px;
height: 35px;
text-decoration: none;
}

.formos::hover{
  cursor: pointer;
}
.buttonrow{
  display: flex;
  flex-direction: row;

}

.uplob, .uplobdos{
  box-sizing: border-box;
  margin-top: 10px;
  height: 30px;
  margin-right: 20px;
  align-content: center;
  display: flex;
  // box-sizing: border-box;
  width: 200px;
  color: #2A9BC7;
  font-size: 16px;
font-weight: 400;
    padding: 20.5px .66em;
    justify-content: center;
        // height: 71.5px;
            padding: 0 20px;
            border: 1px solid rgba(0,0,0,.12);
flex-direction: column;
            align-items: center;
}


.uplob:hover, .uplobdos:hover, .formos:hover{
  cursor: pointer;
}


.updateuserformpic{
  min-width: 200px;
  min-height: 200px;
  object-fit: cover;
  max-height: 200px;
  max-width: 200px;
  box-sizing: border-box;
  // position: relative;
padding: 5px;
border: 1px solid #ccc;
}

.login-inputside{
  width: 75%;
  line-height: 1.45;
padding: 4px;
font-size: 16px;
// border-radius: 1px;
font-family: "Graphik Meetup",helvetica,arial,sans-serif;

}
.login-input{
  width: 50%;
  line-height: 1.45;
padding: 4px;
font-size: 16px;
// border-radius: 1px;
font-family: "Graphik Meetup",helvetica,arial,sans-serif;
}

.userupdateformpicholder{
    width: 202px;

    display: flex;
    flex-direction: column;

}
.userupdateblock{
  display: flex;
}
.userupdateinfo{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
}


.updateusertitle{
      color: rgba(0,0,0,.87);
      border-bottom: 1px solid transparent;
    padding: 16px 16px 0;
    font-size: 16px;
line-height: 1.45;
font-family: "Graphik Meetup",helvetica,arial,sans-serif;
font-weight: 400;
    font-weight: 500;

text-rendering: optimizeLegibility;
}

.signupformtop{
      border-top: 1px solid rgba(0,0,0,.12);
          padding: 16px 16px 0;
          display: flex;
          flex-direction: column;
          height: 100%;

}

@media only screen and (min-width: 640px){
  .updateusertitle {
      font-size: 42px;
  }
}


.userupdateformpic{
  display: flex;
  width: 50px;
  height: 50px;
}


.signup-form-box{
  display: flex;
  // height: 100%;
  flex-direction: column;
  width: 575px;
  // height: 600px;
  margin-top: 30px;
  box-sizing: border-box;
      border: 1px solid rgba(0,0,0,.12);
      align-self: center;
      border-radius: 3px;
      margin-bottom: 25px;
}


























// .signup-form-container{
//
//   display: flex;
//   // justify-content: center;
//   flex-direction: column;
//   height: 100%;
//   // margin-top: 10px;
//   // padding: 10px 10px 10px 10px;
//   font-size: 15px;
//   align-content: space-between;
//   // margin-top: 100px;
//   //   margin-bottom: 50px;
//   // margin-left: 200px;
//   // margin-right: 200px;
//   // padding: 100px 300px 100px 300px;
//   padding-top: 5%;
//   padding-bottom: 5%;
//   padding-right: 20%;
//   padding-left: 20%;
//   background-color: rgba(199,199,199,.3);
//   min-width: 750px;
//
// }
//
//
// .signup-form-box{
//   // align-self: center;
//
//   // padding-bottom: 30px;
//   // position: relative;
//
//   font-family: 'Ubuntu', sans-serif;
//   display: flex;
//   // justify-content: center;
//   // align-content: space-between;
//   align-items: center;
//   // height: 100%;
//   flex-direction: column;
//   // margin-bottom: 5%;
//   padding: 30px, 50px 30px 50px;
//   font-size: 25px;
//  border: 1px rgba(211, 211, 211, 0.7) solid;
//  min-width: 600px;
//  min-height: 1000px;
//  border-radius: 4px;
//  background-color: white;
//  padding-top: 20px;
//   // min-height: 500px;
//
//
// }
//
//
// .signupformtop{
//   text-align: center;
//   font-family: 'Ubuntu', sans-serif;
//   font-size: 50px;
//   padding-bottom: 30px;
//   // border-bottom: 1px rgba(211, 211, 211, 0.7) solid;
//
//   // padding-top: 20px;
//   // max-height: 100px;
//   text-align: left;
//   padding-top: 30px;
//   min-width: 500px;
//   // justify-content: center;
//   // padding-left: 180px;
//   // max-width: 300px;
//   align-self: center;
//   color: #ed1c40;
//
// }
//
//
//
//
// .form{
//   display: flex;
//   flex-direction: column;
//   // max-height: 100px;
//   // max-width: 500px;
//   min-height: 40px;
//   min-width: 500px;
//
// }
//
//
//
// .signupwelcome{
//   display: flex;
//   font-family: 'Ubuntu', sans-serif;
//   padding-top: 10px;
//   display: flex;
//   flex-direction: column;
//   // justify-content: center;
//   // text-align: center;
//   position: relative;
//   // height: 300px;
//   font-size: 25px;
//   align-items: center;
//   width:500px;
//   padding-top: 20px;
//   padding-bottom: 10px;
// }
//
// .privacy{
//   font-size: 10px;
//   text-align: center;
//   width: 250px;
//   padding-bottom: 10px;
// }
//
// .login-input{
//   font-family: 'Ubuntu', sans-serif;
//   font-size: 20px;
// }
//
//
// .login-signup > a{
//   font-size: 20px;
//   padding: 5px 10px;
//   border-radius: 4px;
//   text-decoration: none;
//   margin-right: 25px;
// }
//
// .privacyto{
//   padding-bottom: 5px;
// }
//
// .signupbuttontop{
//   width: 400px;
//   text-align: center;
//   border-bottom: 1px rgba(211, 211, 211, 0.7) solid;
//   padding-bottom: 3px;
// }
//
//   .formos{
//     font-family: 'Ubuntu', sans-serif;
//     display: flex;
//     justify-content: center;
//     // max-height: 100px;
//     // max-width: 500px;
//     min-height: 30px;
//     min-width: 500px;
//     font-size: 20px;
//     align-self: center;
//     background-color: #ed1c40;
//     border-color: #ed1c40;
//     color: white;
//     position: relative;
//     padding: 0px 0px 0px 0px;
//
// }
//
// .signtuptologin{
//   display: flex;
//   height: 30px;
//
//   // padding: 0 5% 0 5%;
//   justify-content: center;
//   font-family: 'Ubuntu', sans-serif;
//   text-decoration: none;
//   background-color: #ed1c40;
//   color: white;
//   width: 300px;
//
// }
