.groupformcontainer{
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    // max-height: 1300px;

}


.grouppico{
  display: flex;
  align-self: center;
  width: 225px;
  height: 225px;
  border-radius: 3px;
}

.modmem{
  padding: 50px;
}

.membergroupspic{
  width: 100px;
  height: 100px;
}

.membergroups{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.membergroupname{
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  padding-left: 15px;
}

.indent{
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mod{
  border-top: 1px rgba(211, 211, 211, 0.7) solid;
  padding-top: 30px;
  margin-top: 30px;
}

.userpico{
  display: flex;
  align-self: flex-start;
  width: 225px;
  height: 225px;
  border-radius: 3px;
}
.uploadpicbutton{
  display: flex;
  margin-top: 20px;
  min-height: 300px;
  min-width: 500px;
  font-size: 90px;
  color: white;
  flex-direction: column;
  justify-content: center;
align-items: center;
 background-image: image-url("sunset.jpg");
 background-size: cover;
 background-repeat: no-repeat;

}


.creategroupgif{
  display: flex;
  // height: 30%;
  height: 300px;
  // min-width: 900px;
  width: 100%;
  background-image: image-url("testg.gif");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  flex-direction: column;
  // padding-top: 80px;
  background-size: cover;
  min-width: 1000px;
justify-content: center;
align-items: center;
}

.c1{
  font-size: 40px;
  padding: 20px;

}
.c2{
  font-size: 25px;
}

.groupform{
  height: 100%;
  max-height: 1500px;
  display: flex;
  font-size: 35px;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 40px;


}

.groupname{
  width: 900px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border-bottom: 1px rgba(211, 211, 211, 0.7) solid;
  height: 250px;
  padding-top: 20px;
}

.groupinfo{
    width: 900px;
    margin-top: 30px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  align-self: center;
  border-bottom: 1px rgba(211, 211, 211, 0.7) solid;
  height: 300px;



}

.grouppic{
  display: flex;
  flex-direction: column;
  // align-items: center;
  align-content: space-between;
  // padding-top: 20px;
  width: 900px;
  align-self: center;
  padding: 30px;
  margin-top: 20px;
  height: 400px;
  margin-bottom: 100px;
  padding-bottom: 40px;


}

.grouplocation{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  border-bottom: 1px rgba(211, 211, 211, 0.7) solid;

  // padding-top: 20px;
  width: 900px;
  align-self: center;
  padding: 30px;
  margin-top: 20px;
  height: 200px;


}

.creategroupsub{
  align-self: center;
  text-align: center;
  min-width: 700px;
  min-height: 50px;
  // margin: 20px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #ed1c40;
margin-top: 50px;
  font-size: 30px;
  color: white;
}

.creategroupsub:hover{
  cursor:pointer;
}

.ginput{
  width: 900px;
  height: 40px;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

}

.ginput2{
  height: 100px;
  width: 100%;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.steps{
  align-self: flex-start;
  font-size: 20px;
  color: rgba(0,0,0,.26);
}

.ques{
  align-self: flex-start;
}
