


.yoka{
  // margin: 10px;
  // font-size: 20px;
  height: 80px;
  // font-size: 20px;
  // font-size: 1vw;
  font-size: 14px;
  min-width: 450px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;

}

.yokaz{
  display: flex;
  align-self: flex-start;
  padding: 10px;
  margin-top: 2%;


}

.eventlistmore{
  display: flex;
  // text-align: center;
  margin-left: 1%;
  flex-direction: column;
  // justify-content:center;
  width: 50px;
  justify-content: flex-end;
  height: 50px;
  font-size: 12px;
}

.yoka2{
  // margin: 10px;
  margin-top: 1%;
  font-size: 14px;
  // padding-left: 10px;
  height: 30px;
  padding-right: 5%;

}
.yoka3{
  display: flex;
  flex-direction: column;
  width: 65%;
  overflow: hidden;
  margin-right: 1%;
}
.yoka4{

  display: flex;
  flex-direction: column;
  height: 300px;
  width: 35%;
  margin-right: 10px;
  margin-left: 2%;
}
.hoppaa{
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 2%;
}
.joinerdos{
  display: flex;
  // width: 200px;
  flex-direction: column;
  height: 30px;
  text-decoration: none;
  margin: 10px;
  margin-top: 1%;
  // justify-content: flex-end;
  border-radius: 10px;
  justify-content: center;
  // align-self: flex-end;
  color: white;
  padding: 1%;
  background-color: #ed1c40;
  text-align: center;
  font-size: 20px;
  min-width: 150px;
  align-self: flex-start;
}

.joinerdos:hover{
  cursor: pointer;
}
.joiner{
  box-sizing: border-box;
  display: flex;
  // width: 200px;
  flex-direction: column;
  height: 30px;
  align-self: flex-end;
  text-decoration: none;
  margin: 10px;
  margin-right: 20px;
  margin-top: 1%;

  // justify-content: flex-end;
  border-radius: 10px;
  justify-content: center;
  // align-self: flex-end;
  color: white;
  // padding: 1%;
  min-width: 200px;
  max-width: 200px;
  background-color: #ed1c40;
  text-align: center;
  font-size: 20px;
}

.createeventt{
  display: flex;
  width: 40%;
  height: 30px;
  text-decoration: none;
  // margin-top: 30px;
  position: absolute;
  // align-self: flex-end;
  // justify-content: flex-end;
  color: #ed1c40;
  padding: 10px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  right: 0;
  // align-self: flex-end;
}

.createeventto{
  display: flex;
  width: 250px;
  height: 30px;
  text-decoration: none;
  // margin-top: 30px;
  position: absolute;
  // align-self: flex-end;
  // justify-content: flex-end;
  color: #ed1c40;
  padding: 10px;
  font-size: 25px;
  right: 0;
}
.createeventt2{

  display: flex;
  position: absolute;
  // width: 350px;
  min-width: 200px;
  flex-direction: column;
  height: 30px;
  text-decoration: none;
  right: 0;
  // align-self: flex-end;
  // margin-top: 30px;
  // align-self: flex-end;
  // justify-content: flex-end;
  border-radius: 10px;
  justify-content: center;
  color: white;
  // padding: 1%;
  background-color: #ed1c40;
  text-align: center;
  margin-right: 10px;
  font-size: 20px;
  // width: 20%;
}
.createeventt23{
  box-sizing: border-box;
  display: flex;
  position: absolute;
  // width: 350px;
  min-width: 200px;
  flex-direction: column;
  height: 30px;
  text-decoration: none;
  right: 0;
  // align-self: flex-end;
  // margin-top: 30px;
  // align-self: flex-end;
  // justify-content: flex-end;
  border-radius: 10px;
  justify-content: center;
  color: white;
  // padding: 1%;
  background-color: #ed1c40;
  text-align: center;
  margin-right: 30px;
  font-size: 20px;
  // width: 20%;
  // margin-right: 5%;
}

.createeventt23:hover{

  cursor: pointer;

}
.rmem{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: 100%;
  position: relative;
  right: 0;
}

.roz{
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 1px rgba(211,211,211,.7) solid;
  height: 70px;

}
.jer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  // align-self: center;
  // align-self: flex-end;
  // font-size: 20px;
    padding: 1%;
    color: #ed1c40;
    height: 30px;
    min-width: 105px;
    // margin-top: 30px;
    // font-size: 1vw;
    // font-size: 16px;
    color: white;
    // width: 100%;
    background-color: #ed1c40;
    border-radius: 10px;
    text-align: center;
    align-self: flex-end;
    margin-right: 7%;
    margin-bottom: 2%;
    // text-align: center;
    // width: 200px;
    // height: 30px;
    // margin: 10px;
    // margin: 1%;
    // position:absolute;
    // right: 0;
    width: 15%;
    // min-width: 80px;
}
.toko{
  display: flex;
  justify-content: center;
  flex-direction: column;
  // align-self: baseline;
  border-bottom: 1px rgba(211,211,211,.7) solid;
  height: 70px;

}

.tok2{
  display: flex;
  width: 300px;
  font-size: 20px;
  align-self: center;
}

.uplink{
  display: flex;
  width: 200px;
  height: 30px;
  font-size: 30px;
  text-decoration: none;
  padding: 20px;
  color: white;
  margin: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: #ed1c40;
  border-radius: 10px;



}
.ago{
  padding-top: 2px;
  font-size: 10px;
}
.roze{
  display: flex;
  position: relative;
  width: 100%;
}
.toze{
  display: flex;
  font-size: 20px;
  text-align: center;
  padding: 10px;

}

.ole{
  margin: 5px;
  margin-left: 10px;
}
.groupnewspic{
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  object-fit: cover
}
.groupnewspic:hover{
  max-width: 60px;
  max-height: 60px;
  min-width: 60px;
  min-height: 60px;
  object-fit: cover
}
.eventorg{
  max-width: 50px;
  max-height: 50px;
  margin-left: 10px;
  height: 100%;
  width: 50px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.opos{
  // width: 7%;
  // margin: 1%;
  object-fit: contain;
  margin-left: 1%;
}
.groupnewspic2{
  width: 50px;
  // width: 100%;
  // width: 6%;
  // height: 100%;
  // min-width: 100%;
  height: 50px;
  align-self: center;
  object-fit: cover;
  // margin: 5px;
}
.yc{
  display: flex;
text-decoration: none;
  flex-direction: column;
  font-size: 13px;
}

.membersnews{
  display: flex;
  text-decoration: none;
  color: black;
}

.membersnews:hover{
  display: flex;
  text-decoration: none;
  color: #ed1c40;
}
.uplinko{
  display: flex;
  flex-direction: center;
  align-content: flex-end;

  align-self: flex-end;
  text-align: center;
  justify-content: center;
}
.yoko{
  display: flex;
  flex-direction: row;
}

.newseach{
  margin-top: 15px;
  border-bottom: 1px rgba(211,211,211,.7) solid;
  min-height: 120px;
  box-sizing: border-box;
  max-height: 120px;
}
.info{
  display: flex;
  flex-direction: column;
  // text-align: center;
  // align-content: center;
  // width:800px;
  width: 100%;

  align-self: center;
  justify-content: center;
  // height: 400px;
  margin-bottom: 30px;
  font-size: 25px;
}

.glink{
  padding: 20px;
  text-decoration: none;
  color: white;
  margin-left: 1px;

}

.glink:hover{
  // background-color: white;
  color: #8B0000;
  padding: 20px;
  text-decoration: none;
}
.singlegroupsidebar{
  // padding: 10px;
  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
  display: flex;
  width: 25%;
  flex: 0.5;
  // width: 250px;
  justify-content: center;
  border: 1px rgba(211,211,211,.7) solid;
  min-height: 500px;
  min-width: 250px;
  max-width: 250px;
  background-color: white;

}

.gcreated{
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  min-height: 1000px;
  // height: 100%;
  min-width: 250px;
  align-items: flex-start;
  // min-height: 700px;
}

.gcreated2{
  display: flex;
  flex-direction: column;
  // padding: 15px;
  // align-items: flex-start;
  width: 100%;
  // max-width: 200px;
  min-height: 900px;
  // height: 500px;

}
.sidehead{
  align-self: center;
  min-height: 200px;
  min-width: 200px;
  // padding-bottom: 5px;
  background-image: image-url("aaa.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.g3{
  display: flex;
  padding:10px;
  font-size: 30px;
  width: 200px;
  align-self: center;
  height: 40px;
  border-top: 1px rgba(211,211,211,.7) solid;
  justify-content: center;
align-items: center;
margin-top: 40px;
min-height: 80px;
}

.g90{
  display: flex;
  flex-direction: column;

  // width: 225px;
  // height: 100px;
  align-self: center;
  // align-content: center;
    justify-content: center;
    padding:10%;
text-align: center;

}
.g66{
  display: flex;
  flex-direction: column;
  padding:10px;
  font-size: 20px;
  width: 200px;
  align-self: center;
  height: 80px;
  border-top: 1px rgba(211,211,211,.7) solid;
  justify-content: center;
align-items: center;
margin-top: 40px;
height: 150px;
min-height: 80px;
}

.g5{
  display: flex;
  padding: 10px;
}

.g4{
  display: flex;
  padding:10px;
  font-size: 15px;
  width: 200px;
  align-self: center;
  height: 40px;
  border-top: 1px rgba(211,211,211,.7) solid;
  justify-content: center;
align-items: center;
margin-top: 40px;
min-height: 80px;
//   display: flex;
//   padding:10px;
//   font-size: 15px;
//   width: 200px;
//   align-self: center;
//   height:100px;
//   border-top: 1px rgba(211,211,211,.7) solid;
//
//   // border-top: 1px rgba(211,211,211,.7) solid;
//   justify-content: center;
// align-items: center;
// text-align: center;
}
.g11{
  display: flex;
  // padding:10px;
  font-size: 25px;
  // font-size: 1.5vw;
  // width: 200px;
  width: 100%;
  padding-top: 20px;
  align-self: center;
  height: 40px;
  border-top: 1px rgba(211,211,211,.7) solid;
  justify-content: center;
align-items: center;
text-align: center;
height: 60px;
margin-top: 2%;

padding: 1%;
padding-top: 5%;
}
.g2{
  display: flex;
  // border-top: 1px rgba(211,211,211,.7) solid;
  justify-content: center;
align-items: center;
  // padding: 10px;
  padding: 10%;
  // width: 200px;
  // width: 100%;
  // font-size: 1vw;
  font-size: 16px;
  align-self: center;
  text-align: center;

}


.singlegroupmain{

  display: flex;
  flex-direction: column;
  // min-width: 800px;
  // min-height: 800px;
  height: 100%;
  min-width: 700px;
  justify-content:flex-start;
  // flex: 3;
  flex: 1.25;
  border: 1px rgba(211,211,211,.7) solid;
  background-color: white;
}

.gcreated3{
  display: flex;
  align-self: center;
}
.upgroup{
  display: flex;
  width: 100%;
  min-height: 50px;
  min-width: 170px;
  flex-direction: column;
  background-color: #ed1c40;
  color: white;
  font-size: 25px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.groupeventid{
  // display: flex;
  // width: 100%;
  // height: 30px;
  // margin:20px;

  display: flex;
  font-size: 14px;
  // width: 800px;
  width: 100%;
  height: 30px;
  // margin: 5px;
  margin-top: 1%;
  padding-right: 5%;
  min-width: 270px;
  // margin-left: 10px;
  // margin-right: 10px;
  // margin-top: 20px;
  // padding-left: 10px;
}
.groupeventorganizer{
  // display: flex;
  // width: 100%;
  // height: 30px;
  // margin:20px;
  // margin-top: 0px;
  display: flex;
  font-size: 25px;
  // width: 600px;
  align-self: center;
  // justify-content: center;
  height: 80px;
  // height: auto;
  // margin: 5px;
  width: 100%;
  // margin-left: 10px;
  // margin-top: 10px;
  // padding-left: 10px;


}


.grouphomememinfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 800px;
  // justify-content: center;
align-items: center;
border-bottom: 1px rgba(211,211,211,.7) solid;
font-size: 35px;
// justify-content: center;

}

.grouphomeinfo{
  display: flex;
  flex-direction: column;
  // width: 50%;
  // padding: 5%;
  padding: 20px;
  // min-height: 600px;
  // width: 100%;
  // justify-content: center;
align-items: center;
border-bottom: 1px rgba(211,211,211,.7) solid;
font-size: 35px;

}

.eventhomeinfo{
  display: flex;
  flex-direction: column;
  // width: 50%;
  padding: 5%;
  // min-height: 600px;
  // width: 100%;
  // justify-content: center;
// align-items: center;
border-bottom: 1px rgba(211,211,211,.7) solid;
font-size: 35px;
text-decoration: none;
}

.userhomeinfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 800px;
//   justify-content: center;
// align-items: center;
border-bottom: 1px rgba(211,211,211,.7) solid;
font-size: 35px;
}

.userinfo{
  flex-direction: column;
  padding: 20px;
}

.username{
  // margin-top: 5px;
  margin-left: 2%;
  font-size: 18px;
}

.usertitle{
  text-align: center;
  font-size: 30px;
}
.yc{
  display: flex;
  padding: 5px;
}
.whatsnew{
  box-sizing: border-box;
  min-height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.singlegroupnews{
  box-sizing: border-box;
  background-color: white;
  flex-direction: column;
  padding: 10px;
  display: flex;
  // width: 200px;
  width: 15%;
  // min-width: 150px;
  // justify-content: center;
  // flex: 0.25;
  border: 1px rgba(211,211,211,.7) solid;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  // min-width: 250px;
}
.newsclicker{
  font-size: 18px;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // align-self: flex-end;

}
.newsclicker:hover{
  cursor: pointer;
  color: #ed1c40;

}

.outernews{
  box-sizing: border-box;
  background-color: white;
  flex-direction: column;
  padding: 10px;
  display: flex;
  // width: 200px;
  width: 25%;
  // min-width: 150px;
  // justify-content: center;
  flex: 0.25;
  border: 1px rgba(211,211,211,.7) solid;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}





.memrow{
  margin-top: 20px;
  // padding-left: 30px;
  // padding: 1%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  // width: 100%;
  min-width: 200px;
  width: 45%;
  text-decoration: none;

}
.memname{
  padding-left: 20px;
  font-size: 25px;
  color: black;

}
.memname:hover{
  color: #ed1c40;
}



.yo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-items: center;
  // align-content: center;
  width: 100%;
  // justify-content: center;
  // align-self: center;
  // min-width: 400px;
}
.membershead{
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}
