
.createeventt{
  display: flex;
  width: 500px;
  height: 30px;
  text-decoration: none;
  align-self: flex-end;
  justify-content: flex-end;
  color: #ed1c40;
  padding: 10px;
}

.info{
  display: flex;
  width:800px;
  height: 400px;
  margin-bottom: 30px;
}

.glink{
  padding: 20px;
  text-decoration: none;
  color: white;

}

.glink{

}
.singlegroupsidebar{
  // padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  display: flex;
  width: 250px;
  justify-content: center;
  border: 1px rgba(211,211,211,.7) solid;
}

.gcreated{
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  align-items: flex-start;
}

.gcreated2{
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: flex-start;
  width: 100%;
  max-width: 200px;

}
.sidehead{
  align-self: center;
  min-height: 200px;
  min-width: 200px;
  // padding-bottom: 5px;
  background-image: image-url("aaa.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.g11{
  display: flex;
  padding:10px;
  font-size: 30px;
  width: 200px;
  align-self: center;
  height: 40px;
  border-top: 1px rgba(211,211,211,.7) solid;
  justify-content: center;
align-items: center;
}
.g2{
  display: flex;
  // border-top: 1px rgba(211,211,211,.7) solid;
  justify-content: center;
align-items: center;
  padding: 10px;
  width: 200px;
  align-self: center;
  text-align: center;

}


.singlegroupmain{

  display: flex;
  flex-direction: column;
  min-width: 700px;
  height: 100%;
  justify-content:flex-start;
  flex: 3;
  border: 1px rgba(211,211,211,.7) solid;

}

.grouphomeinfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  justify-content: center;
align-items: center;
border-bottom: 1px rgba(211,211,211,.7) solid;
font-size: 35px;

}



.singlegroupnews{
  padding: 10px;
  display: flex;
  width: 20px;
  min-width: 150px;
  justify-content: center;
  flex: 0.5;
  border: 1px rgba(211,211,211,.7) solid;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}
