// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.res{

  margin-top: 10px;
  display: flex;
  width: 300px;
  height: 40px;
  font-size: 20px;
  text-decoration: none;
  background-color: #ed1c40;
  font-family: 'Ubuntu', sans-serif;


  color: white;
}

.res:hover{
    background-color: yellow;
    color: black;
}

.res1{
  background-color: #ed1c40;
  z-index: 1000;
  position: relative;
}

.indexpic{
  padding-left: 20px;
  max-width: 300px;
  max-height: 300px;
}

.eo{
  display: flex;
  align-self: center;
  max-width: 300px;
  max-height: 300px;
  height: 250px;
  width: 250px;
  font-family: 'Ubuntu', sans-serif;
  opacity: 0.9;
  border-radius: 10px;


}

.org{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.uplob{
  margin-top: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(199,199,199,.3);
  border: 1px rgba(211,211,211,1) solid;
  width: 200px;
}
.jjjj{
  margin: 5px;
}
.uplob:hover{
  cursor: pointer;
}
.groupformpic{
  display: flex;
  margin-top: 20px;
  max-width: 300px;
  max-height: 300px;
  height: 250px;
  width: 250px;
  font-family: 'Ubuntu', sans-serif;
  opacity: 0.9;
  border-radius: 10px;


}
.eo:hover{
  opacity: 1;

}
