<!DOCTYPE html>
<html>
  <head>
    <title>MeetUp</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
      <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Lato|Droid+Sans|Lemonada|Ubuntu" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
